a{
    text-decoration: none;

    color:black;
}

.root{




}


.header-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f3ee;
    padding: 15px 30px;

}

header{





}

.header-header-contents{


    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content:space-between;
    padding-left:20px;



}

.header-buttons{

    display:flex;
    flex-direction:row;



}


.phone{

    font-size: 16px;
    color: black;
    margin-right:55px;

}


.header{

    display:flex;
    flex-direction:column;


}

.sing-up{

    display:flex;
    flex-direction:row;
    padding-right:250px;
    padding-top:35px;

}

.sing-up-write{

    font-size:25px;
    padding-top:3px;
    margin-left:5px;


}

.header-buttons-menu{


    display:flex;
    flex-direction:row;

    justify-content:space-between;
    padding-right:80px;
    padding-left:80px;
    text-transform:uppercase;
    margin-top:25px;



}

.start-header{

    display:flex;
    flex-direction:row;
    justify-content:space-between;

}

.header-button-menu{
    color:gray;

}

.skidki{
    display:flex;
    width:1200px;
    height:400px;
    border-radius:16px;


}

.plakat{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:50px;


}

.sign-up-button{

    color:black;
}
.menu-write{

    color:black;
    font-size:48px;
    font-weight:700px;
    line-height:58px;
    text-transform:uppercase;
    margin-bottom:50px;
    margin-top:50px;



}

.pizza-slots{
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    width:1280px;


}

.pizza{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px;
    height:auto;
}

.price-and-weight{
    display:flex


}

.pizza-image{
    display:flex;
    height:290px;
    width:265px;

}

.pizza-name{

    font-weight:500px;
    font-size:20px;
    line-height: 1.5;
}

.stracture{

    color: #783d0d;
    font-size: 14px;
    font-weight: 400;
    margin-right:10px;
    margin-bottom:15px;
    margin-top:15px;
}

.pizza-price{

    color:black;
    font-size:21px;

}


.pizza-weight{

    color:gray;
    margin-left:30px;
    margin-bottom:25px;
}

.button-pizza{
    background: brown;
    color: white;
    padding-left:75px;
    padding-right:75px;
    padding-top:15px;
    padding-bottom:15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;




}

.pizza-button{

    margin-bottom:15px;
    margin-top:5px;
}

.pizza-price-second{
    color:black;
    font-size:21px;
    margin-bottom:35px;
    margin-top:32px;

}

.stracture-second{

    color: #783d0d;
    font-size: 14px;
    font-weight: 400;
    margin-right:10px;
    margin-bottom:30px;
    margin-top:15px;
}

.pizza-name-second{

    font-weight:500px;
    font-size:20px;
    line-height: 1.5;
    margin-bottom:82px;
}




.pizza-root{
    width:auto;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left:140px;
    padding-right:50px;


}

.hachapuri-slots{

    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    width:1280px;




}


.hachapuri-write{

    color:black;
    font-size:48px;
    font-weight:700px;
    line-height:58px;
    text-transform:uppercase;
    margin-bottom:50px;
    margin-top:50px;

}


.hachapuri{

    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px;
    height:auto;

}

.hachapuri-image{
    display:flex;
    height:290px;
    width:265px;
}

.hachapuri-name{

    font-weight:500px;
    font-size:20px;
    line-height: 1.5;
}

.hachapuri-weight{


    color:gray;
    margin-left:30px;
    margin-bottom:25px;

}

.hachapuri-root{


    width:auto;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left:140px;
    padding-right:50px;


}








