<!DOCTYPE hmtl>

<html lang="en">
    <head>
        <title>Pizza Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>


    <body>
        <div class="root">
            <header>
                <div class="header-header">
                    <div class="header-header-contents">
                        <a href="#" class="header-header-button">Меню</a>
                        <a href="#" class="header-header-button">Адреса пекарен</a>
                        <a href="#" class="header-header-button">Контакты и реквизиты</a>
                        <a href="#" class="header-header-button">Скидки в день рождение</a>
                    </div>
                    <div class="phone">
                        8 (8442) 60-70-70, 8 (8442) 50-55-22
                    </div>
                </div>
                <div class="header">
                    <div class="start-header">
                        <div class="logo">
                            <img src="/static/resources/pizza.png" alt="not found">
                        </div>
                        <div class="sing-up">
                            <div class="sing-up-img">
                                <img src="/static/resources/bruh.png" />
                            </div>
                            <div class="sing-up-write">
                                <a class="sign-up-button" href="#" >Вход</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-buttons-menu">
                        <a href="#" class="header-button-menu" >Пицца</a>
                        <a href="#" class="header-button-menu" >Шашлык</a>
                        <a href="#" class="header-button-menu" >Хачапури</a>
                        <a href="#" class="header-button-menu" >Шаурма и донары</a>
                        <a href="#" class="header-button-menu" >Закуски</a>
                        <a href="#" class="header-button-menu" >Выпечка</a>
                        <a href="#" class="header-button-menu" >Напитки</a>
                        <a href="#" class="header-button-menu" >Хлеб,выпечка</a>
                    </div>
                    <div class="plakat">
                        <img class="skidki" src="static\resources\skidki.png"/>
                    </div>
                </div>
            </header>
            <div class="pizza-root">
                <div class="menu-write">
                    меню
                </div>
                <div class="pizza-slots">
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\assorti.png" />
                        </div>
                        <div class="pizza-name">
                            Ассорти
                        </div>
                        <div class="stracture">
                            Салями, сыр гауда, сыр моцарелла, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 090 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\chiken.png" />
                        </div>
                        <div class="pizza-name">
                            Куриная
                        </div>
                        <div class="stracture">
                            Копчёная курица, помидоры, сыр моцарелла, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 750 ₽
                            </div>
                            <div class="pizza-weight">
                                600 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\chesee.png" />
                        </div>
                        <div class="pizza-name">
                            Четыре сыра
                        </div>
                        <div class="stracture">
                            Сыр моцарелла, сыр эдам, сыр гауда, сыр дорблю, соус белый
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                               От 1 090 ₽
                            </div>
                            <div class="pizza-weight">
                                800 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\meat.png" />
                        </div>
                        <div class="pizza-name">
                            Мясная
                        </div>
                        <div class="stracture">
                            Копчёная говядина, огурцы солёные, маслины, сыр моцарелла, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 750 ₽
                            </div>
                            <div class="pizza-weight">
                                400 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\tropic.png" />
                        </div>
                        <div class="pizza-name">
                            Тропическая
                        </div>
                        <div class="stracture">
                            Копчёный бекон, ананасы, сыр моцарелла, соус белый
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 090 ₽
                            </div>
                            <div class="pizza-weight">
                                1.3 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\poseidon.png" />
                        </div>
                        <div class="pizza-name">
                            Посейдон
                        </div>
                        <div class="stracture">
                            Креветки, крабовое мясо (имитация), помидоры черри, сыр гауда
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 090 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\serdge.png" />
                        </div>
                        <div class="pizza-name">
                            Сердце "Четыре сыра"
                        </div>
                        <div class="stracture">
                            Сыр моцарелла, сыр эдам, сыр гауда, сыр дор блю, соус белый
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                               От 1 400 ₽
                            </div>
                            <div class="pizza-weight">
                                800 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\serdge_assorti.png" />
                        </div>
                        <div class="pizza-name">
                            Сердце "Ассорти"
                        </div>
                        <div class="stracture">
                            Салями, ветчина, помидоры, маслины, сыр моцарелла, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 400 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\serdge_meat.png" />
                        </div>
                        <div class="pizza-name">
                            Сердце "Мясная"
                        </div>
                        <div class="stracture">
                            Копчёная говядина, огурцы солёные, маслины, сыр моцарелла, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 400 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\polovinki.png" />
                        </div>
                        <div class="pizza-name">
                            Пицца из двух половинок
                        </div>
                        <div class="stracture">

                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price-second">
                                От 950 ₽
                            </div>
                            <div class="pizza-weight">

                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\bortiki.png" />
                        </div>
                        <div class="pizza-name">
                            Пицца с бортиком
                        </div>
                        <div class="stracture">
                            Любимая пицца с восхитительным сырным бортиком
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 1 080 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\pirog.png" />
                        </div>
                        <div class="pizza-name">
                            Пирог с курицей
                        </div>
                        <div class="stracture-second">
                            Сыр брынза, курица, зелень
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 550 ₽
                            </div>
                            <div class="pizza-weight">
                                1 кг
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\dobavki.png" />
                        </div>
                        <div class="pizza-name-second">
                            Добавки
                        </div>
                        <div class="stracture">

                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 25 ₽
                            </div>
                            <div class="pizza-weight">
                                50 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza-img">
                            <img class="pizza-image" src="static\resources\corbonara.png" />
                        </div>
                        <div class="pizza-name">
                            Карбонара
                        </div>
                        <div class="stracture">
                            Копчёный бекон, перец болгарский, сыр моцарелла, сыр пармезан, зелень, соус
                        </div>
                        <div class="price-and-weight">
                            <div class="pizza-price">
                                От 960 ₽
                            </div>
                            <div class="pizza-weight">
                                900 г
                            </div>
                        </div>
                        <div class="pizza-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hachapuri-root">
                <div class="hachapuri-write">
                    Хачапури
                </div>
                <div class="hachapuri-slots">
                    <div class="hachapuri">
                        <div class="hachapuri-img">
                            <img class="hachapuri-image" src="static\resources\hachapuri-1.png" />
                        </div>
                        <div class="hachapuri-name">
                            Хачапури по-аджарски
                        </div>
                        <div class="stracture">
                            Сыр брынза, яйцо
                        </div>
                        <div class="price-and-weight">
                            <div class="hachapuri-price">
                               330 ₽
                            </div>
                            <div class="hachapuri-weight">
                                470 г
                            </div>
                        </div>
                        <div class="hachapuri-button">
                            <a href="#" class="button-pizza">В корзину</a>
                        </div>
                </div>
                    <div class="hachapuri">
                            <div class="hachapuri-img">
                                <img class="hachapuri-image" src="static\resources\hachapuri-2.png" />
                            </div>
                            <div class="hachapuri-name">
                                Хачапури по-мегрельски
                            </div>
                            <div class="stracture">
                                Сыр брынза, сыр сулугуни
                            </div>
                            <div class="price-and-weight">
                                <div class="hachapuri-price">
                                    От 350 ₽
                                </div>
                                <div class="hachapuri-weight">
                                   500 г
                                </div>
                            </div>
                            <div class="hachapuri-button">
                                <a href="#" class="button-pizza">В корзину</a>
                            </div>
                    </div>
                    <div class="hachapuri">
                            <div class="hachapuri-img">
                                <img class="hachapuri-image" src="static\resources\hachapuri-3.png" />
                            </div>
                            <div class="hachapuri-name">
                                Хачапури по-имеретински
                            </div>
                            <div class="stracture">
                                Сыр брынза
                            </div>
                            <div class="price-and-weight">
                                <div class="hachapuri-price">
                                    От 280 ₽
                                </div>
                                <div class="hachapuri-weight">
                                    450 г
                                </div>
                            </div>
                            <div class="hachapuri-button">
                                <a href="#" class="button-pizza">В корзину</a>
                            </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer">

                </div>
            </footer>
        </div>

    </body>


</html>


